---
import "../styles/global.css";
---

<nav class="bg-blue-600 text-white shadow-md">
    <ul class="flex justify-center space-x-6 py-4">
        <li class="hover:text-gray-200">
            <a href="/" class="transition-colors duration-300">Home</a>
        </li>
        <li class="hover:text-gray-200">
            <a href="/about" class="transition-colors duration-300">About</a>
        </li>
        <li class="hover:text-gray-200">
            <a href="/blog" class="transition-colors duration-300">Blog</a>
        </li>
        <li class="hover:text-gray-200">
            <a href="/contact" class="transition-colors duration-300">Contact</a>
        </li>
    </ul>
</nav>